for device in devices
	a.btn.default(href="/track/delete/#{device.fb_id}", style="margin-left:5px;") delete
	a.btn.default(href="/track/#{device.fb_id}", style="margin-left:5px;") "#{device.title}"
	br